@import url('https://fonts.googleapis.com/css?family=Lato');


.bot-message {
  margin-bottom: 10px;
  display: flex;
  min-height: 42px;
 /* border: 1px solid red;*/
}

.bot-avatar {
  flex-basis: 10%;
  /*border: 1px solid red;*/
  max-width: 40px;
  max-height: 40px;
  border-radius: 10px;

}
.username {
 /*border: 1px solid red;*/
  color: white;
  font-weight: 700;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
}

.message {
  color: white;
   font-family: 'Lato', sans-serif;
     font-size: 20px
  /*border: 1px solid red;*/
}

.bot-username-message {
  margin-left: 10px;
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
  /*border: 1px solid red;*/
}
.typing-indicator {
  background-color: #E6E7ED;
  will-change: transform;
  width: auto;
  border-radius: 50px;
  padding: 10px;
  margin-left: 5px;
  display: table;
  position: relative;
  -webkit-animation: 2s bulge infinite ease-out;
          animation: 2s bulge infinite ease-out;
}
.typing-indicator::before, .typing-indicator::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: -2px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #E6E7ED;
}
.typing-indicator::after {
  height: 10px;
  width: 10px;
  left: -10px;
  bottom: -10px;
}
.typing-indicator span {
  height: 10px;
  width: 10px;
  float: left;
  margin: 0 1px;
  background-color: #9E9EA1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}
.typing-indicator span:nth-of-type(1) {
  -webkit-animation: 1s blink infinite 0.3333s;
          animation: 1s blink infinite 0.3333s;
}
.typing-indicator span:nth-of-type(2) {
  -webkit-animation: 1s blink infinite 0.6666s;
          animation: 1s blink infinite 0.6666s;
}
.typing-indicator span:nth-of-type(3) {
  -webkit-animation: 1s blink infinite 0.9999s;
          animation: 1s blink infinite 0.9999s;
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

/************************************************************/
