@import url('https://fonts.googleapis.com/css?family=Lato');


.bot-message {
  margin-bottom: 10px;
  display: flex;
  /*border: 1px solid red;*/
}

.bot-avatar {
  flex-basis: 10%;
  /*border: 1px solid red;*/
  max-width: 40px;
  max-height: 40px;
  border-radius: 10px;

}
.username {
 /*border: 1px solid red;*/
  color: white;
  font-weight: 700;
  font-size: 19px;
  font-family: 'Lato', sans-serif;
}

.message {
  color: white;
   font-family: 'Lato', sans-serif;
  /*border: 1px solid red;*/
}

.bot-username-message {
  margin-left: 10px;
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
  /*border: 1px solid red;*/
}






